body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h3 {  
/*padding: 50px;*/
  font: 14px "Lucida Grande"
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30%;
  left: 0;
}

.logo {
  position: absolute;
  top: 1.5%;
  bottom: 0;
  left:70.5%;
  height: 90px;
}

.nav-bar {
  position: absolute;
  top: 18%;
  bottom: 85%;
  right: 0;
  left: 71%;
  z-index: 10;
  align: right;
  float: right;
}

.trends-list {
  position: absolute;
  top:25%;
  z-index: 10;
  left: 73%;
  align: left;
  float: left;
}

.sidebar {
  position: fixed;
  height: 600px;
  right: 0px;
  top: 185px;
  width: 100px;
  overflow-y: scroll;
  float: right;
}

.overlay {
  height: 100%;
  width: 70%;
  z-index: -5;
}

.text-items {

  z-index: 5;
  top: 50px;
  align: right;
  float: right;
}

.whats-trending {
  font-size: 25px;
  color: #3792bf;
}