body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F5F5F5;

}

a {
  color: #00B7FF;
}

.form-group {
  position: absolute;
  left: 30%;
  top: 15%;
  bottom: 50%;
}

h3 {  
/*padding: 50px;*/
  font: 14px "Lucida Grande"
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30%;
  left: 0;
  border-right: solid #157F9F;
}

/*.search {*/
  /*position: absolute;*/
  /*top: 5%;*/
  /*left: 10%;*/
  /*z-index: 1000;*/
  /*width: 100%;*/
/*}*/

.searchbar {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 40%;
  height: 30px;
  opacity: 0.8;
  z-index: 1000;
}

.searchbutton {
  position: absolute;
  top: 5%;
  left: 51%;
  width: 10%;
  height: 35px;
  opacity: 0.8;
  z-index: 1001;
  font-family: "Lucida Grande";
  font-size: 20px;

}

.searchbar[type=text] {
  font-size: 24px;
  font-family: "Lucida Grande";
}

.logo {
  position: absolute;
  top: 1.5%;
  bottom: 0;
  left: 70.5%;
  height: 85px;
}

.nav-bar {
  background-color: #e22e59;

  position: absolute;
  top: 18%;
  bottom: 85%;
  right: 0;
  left: 71%;
  z-index: 10;
  align: right;
  float: right;
}

.trends-list {

  position: absolute;
  top:35%;
  z-index: 10;
  left: 73%;
  align: left;
  float: left;
}

.sidebar {
  position: fixed;
  height: 600px;
  right: 0px;
  top: 185px;
  width: 100px;
  overflow-y: scroll;
  float: right;
}

.overlay {
  height: 100%;
  width: 70%;
  z-index: -5;
}

.text-items {

  background-color: #e22e59;
  z-index: 5;
  top: 50px;
  align: right;
  float: right;
}

.whats-trending {
  font-size: 25px;
  color: #3792bf;
}

.trend {
  padding-bottom: 2%;
}