<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src='//maps.googleapis.com/maps/api/js?'></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="javascripts/controllers.js"></script>
  <script async="" defer="" ng-src={{src}}></script>
</head>

<body ng-app="indexApp" ng-controller="indexController" ng-init="initApp()">
<div ng-controller="navBarController" ng-init="">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">tweetMap</a>
    </div>
      <!--<button ng-click="trending('Boston')" class="btn btn-default">Boston</button>-->
      <!--<button ng-click="trending('Novosibirsk')" class="btn btn-default">Novosibirsk</button>-->
    <a ng-click="createUser()" class="btn small">Register Now</a>

    <ul class="nav navbar-nav navbar-right">
      <div class="form-group">

      <form class="navbar-form">
          <input ng-model="username" type="text" name="user" placeholder="Username" value="username" class="username">
          <input ng-model="password" type="password" name="pass" placeholder="Password" value="password" class="password">
          <!--<script ng-init="getUserCredentials()"></script>-->
          <a ng-click="getUser()" class="btn btn-primary">Login</a>
          <!-- ^^^ href="/login" -->
      </form>
      </div>
  </ul>
  </div>
  <p ng-repeat="trend in trends">{{$index + 1}}. {{trend.trend}}</p>
</nav>
</div>

<div>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<h3>Google Maps API
  <div id="map"></div>
  <script ng-init="initMap()"></script>
</h3>
</body>
</div>
</html>