<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src='//maps.googleapis.com/maps/api/js?'></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="javascripts/controllers.js"></script>
  <script async="" defer="" ng-src={{src}}></script>
</head>

<body ng-app="indexApp" ng-controller="indexController" ng-init="initApp()">

<div class="search">
  <input class="searchbar" ng-model="location_searched" type="text" placeholder="Type in a location...">
  <button ng-click="getCoordinates()" class="searchbutton"> Search </button>
  </div>

<div class="text-items">
  <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/5/52/Trendmap_logo.png">

  <nav class="nav-bar navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
      <!--<button ng-click="trending('Boston')" class="btn btn-default">Boston</button>-->
      <!--<button ng-click="trending('Novosibirsk')" class="btn btn-default">Novosibirsk</button>-->
    <a ng-click="createUser()" class="btn small">Register Now</a>

    <ul class="nav navbar-nav navbar-right">
      <div class="form-group">

      <form class="navbar-form">
          <input ng-model="username" type="text" name="user" placeholder="Username" value="username" class="username">
          <input ng-model="password" type="password" name="pass" placeholder="Password" value="password" class="password">
          <!--<script ng-init="getUserCredentials()"></script>-->
          <button ng-click="getUser()">Login</button>
          <!-- ^^^ href="/login" -->
      </form>
      </div>
  </ul>
  </div>
  </nav>
<div class="trends-list">
  <p class="whats-trending"> {{city}} </p>
  <p> {{help}}</p>
  <p ng-repeat="trend in trends">{{$index + 1}}. {{trend.trend}}</p>
</div>

  </div>

</div>

<div class="overlay">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<h3>Google Maps API
  <div id="map">
  <script ng-init="initMap()"></script>
  </div>
</h3>
</div>
</body>

</html>