
doctype html
html
  head
    style.
      #map {
      height: 400px;
      width: 100%;
      }
  body
    h3 Google Maps API 
    #map
    script.
      function initMap() {
      var uluru = {lat: 42.350504, lng: -71.105404};
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: uluru
      });
      var marker = new google.maps.Marker({
      position: uluru,
      map: map
      });
      }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCEeT272ElUKofTvlr9GWlHBueddzGA-RA&callback=initMap')
